---

#*******************************************************************************************************************
#This is the Bootstrap project for setting up end-to-end DevOps CI/CD Integration process written by Rolind Roy.
#
#This projects contains bash scripts and ansible playbooks, 
#Docker that can be execute in any Debian based platform such as Ubuntu (14.04, 16.04). 
#It can be integrated "end-to-end" CI/CD Process that starts from setting up environments to Deployed on Web server.  
#
# ---   @author Rolind Roy < hello@rolindroy.com >
#*******************************************************************************************************************

workspace: /tmp

# Default to the latest LTS release.
sonar_version: 4.5.6
sonar_download_url: "http://sonarsource.bintray.com/Distribution/sonarqube/sonarqube-{{ sonar_version }}.zip"
sonar_version_directory: "sonarqube-{{ sonar_version }}"

# MySQL database connection details.
sonar_mysql_username: sonar
sonar_mysql_password: sonar

sonar_mysql_host: localhost
sonar_mysql_port: "3306"
sonar_mysql_database: sonar

sonar_mysql_allowed_hosts:
  - "127.0.0.1"
  - "::1"
  - "localhost"
